<h1>Mi Cuenta</h1>
{{#if conocido}}
    <div class="container-fluid">
        <div id="micuenta" class="row aling-items-center hero">
            <h2>My Account</h2>
            <ul>
                <li><a href="#">Mi Perfil</a></li>
                <li><a href="#">Historial de pedidos</a></li>
                <li><a href="#">Configuración</a></li>
                <li><a href="/salir">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
{{/if}}

{{#unless conocido}}
    <p>No estas registrado. Ve a <a href="/registro">Registro</a> y completa el formulario</p>
{{/unless}}