<div class="container-fluid">
    <div id="nike" class="row aling-items-center hero">
        <div class="col-lg-3 offset-lg-2"></div>
            <h2>NIKE</h2>
            <ul class="lista-nike">
                <div class="ropanike"><li><a href="https://www.soycuervo.com/camiseta-nike-titular-san-lorenzo-de-almagro-2024/p"><img src="/images/novedad1.png"></a>Camiseta Titular 2024</li></div>
                <div class="ropanike"><li><a href="https://www.soycuervo.com/camiseta-nike-alternativa-san-lorenzo-de-almagro-2024/p"><img src="/images/novedad2.png"></a>Camiseta Suplente 2024</li></div>
                <div class="ropanike"><li><a href="https://www.soycuervo.com/buzo-nike-entrenamiento-san-lorenzo-de-almagro-2024/p"><img src="/images/novedad3.png"></a>Buzo de Entrenamiento 2024</li></div>
                <div class="ropanike"><li><a href="https://www.soycuervo.com/pantalon-nike-entrenamiento-san-lorenzo-de-almagro-2024/p"><img src="/images/novedad4.png"></a>Pantalon de Entrenamiento 2024</li></div>
                <div class="ropanike"><li><a href="https://www.nike.com.ar/san-lorenzo-2024-stadium-dh9384-451/p" ><img src="/images/novedad5.png"></a>Campera Rompeviento 2024</li></div>
            </ul>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>