<div id="registro" class="col-md-4 mt-4 mt-sm-0">
    <h2>REGISTRO</h2>
    <form class="row g-3" action="/registro" method="pst">
    <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre">
    </div>
    <div class="col-md-6">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido">
    </div>
    <div class="col-md-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com">
    </div>
    <div class="col-md-12">
        <label for="tel" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="tel" name="telefono" placeholder="...">
    </div>
    <div class="col-md-12">
        <label for="socio" class="form-label">Numero de Socio</label>
        <input type="text" class="form-control" id="socio" name="socio">
    </div>
    <div class="col-md-12">
        <button class="btn btn-outline-success" type="submit" class="btn btn primary">Registrar</button>
    </div>
    </form>
    {{message}}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>