<div class="container-fluid">
    <div id="indumentaria" class="row aling-items-center hero">
        <div class="col-lg-3 offset-lg-2"></div>
            <h2>INDUMENTARIA</h2>
            <ul class="lista-nike">
                <div class="indumentaria"><li><a href="https://www.soycuervo.com/ojotas-san-lorenzo-de-almagro/p"><img src="/images/indumentaria1.png"></a>Ojotas San Lorenzo de Almagro</li></div>
                <div class="indumentaria"><li><a href="https://www.retrocasla.com.ar/buzos/buzo-casla-retro-adidas"><img src="/images/indumentaria2.png"></a>Buzo RETRO Adidas</li></div>
                <div class="indumentaria"><li><a href="https://www.retrocasla.com.ar/buzos/buzo-san-lorenzo-retro-canguro"><img src="/images/indumentaria3.png"></a>Buzo RETRO Canguro</li></div>
                <div class="indumentaria"><li><a href="https://www.retrocasla.com.ar/bermudas-y-pantalones/bermuda-retro-san-lorenzo"><img src="/images/indumentaria4.png"></a>Bermuda RETRO</li></div>
            </ul>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>