<div class="container" style="margin:100px auto;">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar productos</h4>
            <form action="/admin/cuenta/agregar" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Titulo" name="titulo">
            </div>

            <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Descripcion" name="descripcion"></textarea>
            </div>

            <div class="form-group">
                <textarea type="number" class="form-control" placeholder="Precio" name="precio"></textarea>
            </div>

            <button type="submit" class="btnbtn-primary">Guardar</button>
            </form>

            {{#if error}}
                <p>{{message}}</p>
            {{/if}}

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>